:root {
  --dark: #8a2387;
  --medium: #e94057;
  --light: #f27121;
  --black: #222;
  --white: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


h1, h2, h3, p, ul, ol {
  margin-top: 1.5rem;
  line-height: 1.5em;
}

h1 {
  font-size: 2rem;
}

ul, ol {
  padding-left: 2rem;
}

img {
  display: block;
}

a {
  color: var(--light);
  text-decoration: none;
}